body {
    margin: 0px; 
    padding: 0px; 
    background-color: #C7DBE6; 
}

.area {
    width: 100%; 
    padding:0px;
    margin: 0px;
    display: grid;
}

#header {
  grid-template-rows: 150px;
  grid-template-columns: 1fr;
  justify-content: stretch;
}

#logo {
    top: 2%; 
    padding-left: 28%;
    width: 200px; 
    height: 200px; 
}

#title {
    color: #364652; 
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    position: absolute;
    text-align: center;
    left: 41%;
    top: 5%;
    margin: 0px;
    padding: 0px;
    font-size: 70px; 
}

#subtitle {
    color: #364652; 
    font-family: 'Staatliches';
    font-style: italic;
    font-weight: 400;
    position: absolute;
    text-align: center;
    margin: auto; 
    left: 42%; 
    top: 13%; 
    padding-top: 10px; 
    font-size: 25px; 
}

.bar {
    margin-top: 60px;  
    border-style: solid hidden solid hidden; 
    border-color: #364652; 
    width: 100%; 
    height: 100px; 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 3fr; 
    padding-left: 460px; 
}

#page {
    font-family: 'Libre Franklin'; 
    font-style: normal; 
    color: #364652; 
    font-weight: 700; 
    padding-top: 20px; 
}


/*#071108 and #B5BEC6*/